.UsableArea{
    left: 10%;
    width: 80%;
    height: 120%;
    background-color: #1F2833;
    position: absolute;

}
.champIconBox {
    width: 27.5%;
    height: 80px;
    top: 2%;
    background-color: #1F2833;
    position: absolute;
    display: inline-block;
    border-bottom: 3px solid #131b26;
}
.championIconSubBox{
    width: 35%;
    height: 40px;
    padding-left: 2%;
    position: absolute;
    display: inline-block;
}

.summonerSpellsBox {
    width: 12.5%;
    height: 80px;
    top: 2%;
    left: 33%;
    background-color: #1F2833;
    position: absolute;
    display: inline-block;
    border-bottom: 3px solid #131b26;

}

.skillingOrderBox{
    width: 28%;
    height: 80px;
    top: 2%;
    right: 20%;
    background-color: black;
    position: absolute;
    display: inline-block;
}

.summaryBox{
    width: 100%;
    height: 70%;
    top: 15%;
    background-color: black;
    position: absolute;
    display: inline-block;

}
.champImg {
    max-width: 95%;
    max-height: 95%;
    padding-left: 2%;
}
.champTitle{
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    font-size: 40px;
    width: inherit;
    height: inherit;
    top: 20px;
}
.summonerSpellsBoxImgPrime {
    max-width: 75%;
    max-height: 75%;
    padding-left: 15%;
    padding-top: 10%;
    position: relative;
}
.summonerSpellsBoxImgSecondary{
    max-width: 65%;
    max-height: 65%;
    padding-left: 15%;
    padding-top: 10%;
    position: relative;
}
