body {
    color: white;
}


.container {
    width: 25%;
    position: absolute;
}

.col {
    position: relative;
    padding: 0px;
}

.section {
    display: block;
    position: relative;
    width: 50%;
    
}

.keystoneImg {
    width: 100%;
}

.regularImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 15%;
}