

div[class^="col-"] {
    outline: 2px solid blue;
}

.champBoxSection{
    width: 50%;
    left: 40%;
    padding-left: .5%;
    padding-right: .5%;
    min-height: 100%;
    position: absolute;
    display: inline-block;
    top: 105px;
}

.winRateSection {
    width: 27.5%;
    height: 100%;
    left: 10%;
    background-color: black;
    position: absolute;
    display: inline-block;
    top: 105px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr auto;
}
.champBoxBuffer {
    width: 110px;
    height: 120px;
    display: inline-block;
    overflow: hidden;
    margin: 1px;
    background-color: rgb(36, 32, 32);
}

.champBoxBuffer:hover {
    background-color: rgb(71, 63, 63);
    cursor: pointer;
}

.champBox {
    height: auto;
    width: auto;
    max-width: 80px;
    min-width: 80px;
    padding-top: 5px;
    margin: 0 auto; 
    display: block;
    position: relative;
    
}

img {
    max-width: 100%;
    max-height: 100%;   
}

.champBoxName {
    display: block;
    text-align: center;
    color: white;
    height: 50px;
}
.champBoxName:hover {
    cursor: pointer;
}

.lineContainer {
    display: inline-block;
    height: 0;
    width: 0;
}
.v1 {
    height: 100px;
    width: 1px;
    background-color: white;
    display: inline-block;
    bottom: 0%;
    overflow: hidden;
}

/* Champ win rate box */
.tab {
    width: 100%;
    background-color: grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tablinks {
    height: 40px;/*idk why my editor says this is unused. DO NOT REMOVE!!! */
    min-width: 18.5%;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    display: inline;
}
.tablinks:hover {
    cursor: pointer;
    background-color: darkgray;
}

.wrChampBlock {
    background-color: lightblue;
    width: 100%;
    height: 80px;
    padding: 0%;
}

.wrChampImgBox {
    width: 64px;
    height: auto;
    left: 8px;
    top: 10%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    background-color: inherit;
}

.wrChampInfo {
    display: inline-block;
    margin-left: 2%;
    position: relative;
    bottom: 10%;
    
}

.wrChampName {
    display: block;
}

.wrChampRoles {
    display: block;
}