<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">


{% extends "index.html" %}
{% block bodyBlock %}
    <div class ="UsableArea">
        <div class="champIconBox">
            {% block champIconSection %}
                <img src="{{championImg}}" class= "champImg">
                <div class="championIconSubBox">
                    <div class="champTitle" class="championIconSubBox">{{Championname}}</div>
                </div>
            {% endblock %}
        </div>
        <div class="summonerSpellsBox">
            {% block summonerSpellSection %}
                <img src="{{SummonerSpell1}}" class= "summonerSpellsBoxImgPrime">
                <img src="{{SummonerSpell2}}" class= "summonerSpellsBoxImgSecondary">
            {% endblock %}
        </div>
        <div class="skillingOrderBox">
            {% block skillingOrderSection %}
            {% endblock %}
        </div>
        <div class="summaryBox">
            {% include "summaryBox.html" %}
        </div>
    </div>

{% endblock %}