<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">


{% extends "index.html" %}
{% block bodyBlock %}
    <div class ="UsableArea">
        <div class="champIconBox">
            {% block champIconSection %}
                <img src="{{championImg}}" class= "champImg">
                <div class="championIconSubBox">
                    <div class="champTitle" class="championIconSubBox">{{Championname}}</div>
                </div>
            {% endblock %}
        </div>
        <div class="summonerSpellsBox">
            {% block summonerSpellSection %}
                <img src="{{SummonerSpell1}}" class= "summonerSpellsBoxImgPrime">
                <img src="{{SummonerSpell2}}" class= "summonerSpellsBoxImgSecondary">
            {% endblock %}
        </div>
        <div class="skillingOrderBox">
            {% block skillingOrderSection %}
                <div class="skillingOrderBar" id="levels">
                    <li class="skillbox" style="color:transparent;">0
                    <li class="skillbox">1
                    <li class="skillbox">2
                    <li class="skillbox">3
                    <li class="skillbox">4
                    <li class="skillbox">5
                    <li class="skillbox">6
                    <li class="skillbox">7
                    <li class="skillbox">8
                    <li class="skillbox">9
                    <li class="skillbox">10
                    <li class="skillbox">11
                    <li class="skillbox">12
                    <li class="skillbox">13
                </div>

                <div class="skillingOrderBar" id="QSkill">
                    <li class="skillbox">
                        <img src="{{ QSpellImg }}" class="skillImg">
                    </li>
                </div>

                <div class="skillingOrderBar" id="WSkill">
                    <li class="skillbox">
                        <img src="{{ WSpellImg }}" class="skillImg">
                    </li>
                </div>

                <div class="skillingOrderBar" id="ESkill">
                    <li class="skillbox">
                        <img src="{{ ESpellImg }}" class="skillImg">
                    </li>
                </div>

                <div class="skillingOrderBar" id="RSkill">
                    <li class="skillbox">
                        <img src="{{ RSpellImg }}" class="skillImg">
                    </li>
                </div>

            {% endblock %}
        </div>

        <div class="summaryBox">
            {% include "summaryBox.html" %}
        </div>
    </div>

{% endblock %}