<!DOCTYPE html>
{% extends "index.html" %}
{% block mainSection %}
<a class="champBoxContainer">
    {% block champIcons %}
        {% for key in champions %}
        <a href='{% get_redirect champions key %}' class="champBoxBuffer">
            <div id="{% get_boxID champions key %}" class="champBox">
                <img src="{% get_url champions key %}">
                
            </div>
            <a class="champBoxName">{% get_name champions key %}</a>
        </a>
        {% endfor %}
    {% endblock %}
</a>
{% endblock %}