<!DOCTYPE html>
<!--Variables required: champions -> a dictionary of all champions-->
<!-- -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

{% extends "homePageStructure.html" %}
 


{% block mainSection %}
<a class="champBoxContainer">
    {% block champIcons %}
        <!-- Done with pure html -->
        {% for key in champions %}
        <a href='/champion/{{key}}'>
            <div class="champBoxBuffer">
                <div id="{% get_boxID champions key %}" class="champBox">
                    <img src="{% get_url champions key %}" class="champImg">
                </div>
                <div class="champBoxName">{% get_name champions key %}</div>
                
            </div>
            
        </a>
        {% endfor %}

        <!-- Done with Bootstrap's grid -->
        <!-- <div class="row">
        {% for key in champions %}
        <div class="col-sm-2">
            <a href='{% get_redirect champions key %}'>
                <div class="champBoxBuffer">
                    <div id="{% get_boxID champions key %}" class="champBox">
                        <img src="{% get_url champions key %}" class="champImg">
                    </div>
                    <div class="champBoxName">{% get_name champions key %}</div>
                    
                </div>
                
            </a>
        </div>
        {% endfor %}
        </div>-->
    {% endblock %}

</a>
{% endblock %}

{% block wrSection %}
<div class="tab">
    <button class="tablinks" onclick="">Bot</button>
    <button class="tablinks" onclick="">Solo Top</button>
    <button class="tablinks" onclick="">Jungle</button>
    <button class="tablinks" onclick="">Hyper Carry</button>
    <button class="tablinks" onclick="">Support</button>
</div>

<!--For loop would be placed here-->
<div class="wrChampBlock">
    <div class="wrChampImgBox">
        <img src="/static/icons/champions/Aatrox.png" alt="">
    </div>
    <div class="wrChampInfo">
        <div class="wrChampName">
            Aatrox
        </div>
        <div class="wrChampRoles">
            Fighter, Diver
        </div>
    </div>
</div>
{% endblock %}