<!-- Loads static data -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

<!-- navbar-->
<div id="nav-placeholder">
    {% include "navbar.html" %}
</div>

<!DOCTYPE html>
<html>
    
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

    <body>
        <div class="winRateSection">
            {% block wrSection %}
            {% endblock %}
        </div>
        <div class="champBoxSection">
        {% block mainSection %}
        {% endblock %}
        </div>
    </body>
    <script src="/static/js/test.js"></script>
</html>