<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/static/css/runePage.css"/>

<!--  -->

{% for tier in runePageJSON.slots %}
<div class="row">
    {% if forloop.counter == 1 %}
        {% for rune in tier.runes %}
            <div class="col">
                <img src="/static/icons/runes/rune_icons/{{rune.id}}.png" class="keystoneImg">
            </div>
        {% endfor %}
    {% else %}
        {% for rune in tier.runes %}
            <div class="col">
                <img src="/static/icons/runes/rune_icons/{{rune.id}}.png" class="regularImg">
            </div>
        {% endfor %}

    {% endif %}
    
</div>
{% endfor %}
