<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/static/css/runePage.css"/>

<!--  -->
{% for tree in runePageJSON %}
    {% if tree.id == secondaryTree %}
        {% for tier in tree.slots %}
        <div class="row">
            {% if forloop.counter != 1 %}
                {% for rune in tier.runes %}
                    <div class="col">
                        <div class="hoverArea">
                            <img src="/static/icons/runes/rune_icons/{% is_active_rune activeRunes rune %}.png" class="regularImg">
                            <div class="runePopup">
                                {{rune.shortDesc|safe|escape}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            
        </div>
        {% endfor %}
    {% endif %}
{% endfor %}
